@import "../common-scss/mixin/common.scss";

.header {
  padding: 1% 0;
  min-height: 10%;
  display: flex;
  width: 80%;
  justify-content: center;
  position: fixed;
}
.header-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-transform: capitalize;
  h1 {
    padding: 0% 3%;
    border-radius: 8px;
    @include boxShadow;
  }
  button {
    width: 10%;
    border-radius: 8px;
    border-color: #fff;
    outline: none;
    border: none;
    &:hover {
      cursor: pointer;
      &:enabled {
        background-color: $base-color-dark;
      }
    }
    @include boxShadow;
  }
}
@media (max-width: 700px) {
  .header {
    .header-section {
      width: 100%;
      align-items: center;
      h1 {
        width: 45%;
      }
      button {
        width: 24%;
        height: 50%;
      }
    }
  }
}
@media (max-width: 900px) and (min-width: 700px) {
  .header {
    .header-section {
      button {
        width: 24%;
      }
    }
  }
}
