.header {
  margin-bottom: 4%;
  padding: 1% 0;
  height: 10%;
  display: flex;
  justify-content: center;
}
.header-section {
  display: flex;
  justify-content: space-between;
  width: 50%;
  text-transform: capitalize;
  h1 {
    padding: 0% 3%;
    background-color: #fff;
    border-radius: 8px;
  }
  button {
    width: 10%;
    border-radius: 8px;
  }
}
