.main {
  margin: 8% auto;
  height: 84%;
}

@media (max-width: 700px) {
  .main {
    margin: 33% auto;
  }
}
@media (max-width: 900px) and (min-width: 700px) {
  .main {
    margin: 12% auto;
  }
}
