$base-color: #42db82;
$base-color-dark: #32b066;
$blue-color: #2d8bca;
$base-background-color: rgba(2, 28, 28, 0.865);
$base-white-color: #fff;
$base-input-focus-color: #aefff25c;
$base-input-focus-color-border: hsla(171, 37%, 11%, 0.507);
$base-red-color: red;
