@import "../common-scss/mixin/common";
@import "../common-scss/personalizeColors";
.slots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 2%;
  .slot-placeholder {
    width: 32%;

    margin-bottom: 2%;

    .slot {
      box-shadow: -4px 2px 18px rgba(122, 178, 196, 0.87);
      min-height: 200px;
      margin: 3% 1%;
      background-color: $base-grey-light;
      .slot-header {
        padding: 1%;
        display: flex;
        justify-content: space-between;
        .slot-title {
          min-width: 80%;
          label {
            border-radius: 8px;
            background-color: $base-color-light-dark;
            display: inline-block;
            color: $base-white-color;
            padding: 1%;
            margin: 0 1%;
          }
        }
      }
    }
  }
  .slot-cancel {
    min-width: 8%;
    z-index: 1;

    svg {
      fill: $blue-color;
      &:hover {
        cursor: pointer;
        fill: $base-red-color;
      }
    }
  }
}

@media (max-width: 700px) {
  .slots {
    .slot-placeholder {
      min-width: 100%;
    }
  }
}
@media (max-width: 900px) and (min-width: 700px) {
  .slots {
    .slot-placeholder {
      min-width: 31.3%;
    }
  }
}
