@import "../common-scss/mixin/common.scss";

.input-element {
  display: flex;
  align-items: center;
  margin: 5% 0;
  .input-tag {
    padding: 1%;
    width: 46%;
    height: 46px;
    font-size: 1rem;
    outline: none;
    border: 2px solid $base-background-color;
    border-radius: 8px;
    &:focus {
      // border: 2px solid $base-input-focus-color-border;
      background-color: $base-input-focus-color;
    }
  }
  label {
    font-size: 2rem;
    // margin-right: 5%;
    display: inline-block;
    width: 30%;
  }
}
@media (max-width: 700px) {
  .input-element {
    flex-direction: column;
  }
}
