@import "../common-scss/mixin/common.scss";
@import "../common-scss/colors.scss";
.input-element {
  display: flex;
  align-items: center;
  margin: 5% 0;
  .input-tag {
    padding: 1%;
    width: 46%;
    height: 46px;
    font-size: 1rem;
    outline: none;
    border: 2px solid $base-background-color;
    border-radius: 8px;
    &:focus {
      // border: 2px solid $base-input-focus-color-border;
      background-color: $base-input-focus-color;
    }
  }
  label {
    font-size: 2rem;
    // margin-right: 5%;
    display: inline-block;
    width: 30%;
  }
  .select {
    .dropbtn {
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    height: 95px;
    overflow-y: auto;
  }

  .dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content div:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

@media (max-width: 700px) {
  .input-element {
    flex-direction: column;
    .input-tag {
      width: 90%;
    }
    label {
      width: 90%;
    }
  }
}
