.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 80%;
  bottom: 0;
  height: 48px;

  .addSlot {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 10%;
    button {
      width: 1.5rem;
      background: red;
      height: 1.5rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
