@import "../common-scss/personalizeColors";
.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 80%;
  bottom: 0;
  padding: 1% 0%;
  z-index: 3;

  .addSlot {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;

    min-width: 14%;
    // button {
    //   width: 4rem;
    //   background: $base-color;
    //   height: 4rem;
    //   border: none;
    //   border-radius: 50%;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   &:hover {
    //     cursor: pointer;
    //     &:enabled {
    //       background: $base-color-dark;
    //     }
    //   }
    //   &:disabled {
    //     background: rgb(213, 236, 193);
    //     cursor: not-allowed;
    //   }
    // }
    button {
      width: 4rem;
      height: 4rem;
      border: none;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    p {
      font-weight: bold;
    }
  }
  .addSlot.btn-task {
    button {
      background-color: $base-red-color;
      &:disabled {
        background: rgb(243, 201, 201);
        cursor: not-allowed;
      }
      &:hover {
        cursor: pointer;
        &:enabled {
          background: $base-red-dark-color;
        }
      }
    }
    .btn-task-desc {
      color: $base-red-color;
    }
    p,
    .time-left {
      color: $base-red-color;
    }
  }
  .addSlot.btn-slot {
    button {
      background-color: $base-color;
      &:hover {
        cursor: pointer;
        &:enabled {
          background: $base-color-dark;
        }
      }
      &:disabled {
        background: $base-color-light-dark;
        cursor: not-allowed;
      }
    }
    .btn-task-desc {
      color: $base-color;
    }
    p,
    .time-left {
      color: $base-color;
    }
  }

  .input-details-container {
    position: fixed;

    width: 100vw;
    height: 100vh;
    background: #201f1f;
    opacity: 0.9;
    top: 5px;
    left: 1%;
  }
}

@media (max-width: 700px) {
  .footer {
    justify-content: space-around;
    .input-details-container {
      width: 96vw;
      left: 3%;
    }
  }
}
