.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 80%;
  bottom: 0;
  padding: 1% 0%;

  .addSlot {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 10%;
    button {
      width: 4rem;
      background: red;
      height: 4rem;
      border: none;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
      &:disabled {
        background: rgb(243, 201, 201);
        cursor: not-allowed;
      }
    }
  }
}
