@import "../common-scss/personalizeColors";
.userInput {
  display: flex;
  justify-content: center;
  margin: 8% 0;
  form {
    width: 34%;
    padding: 2%;
    border: 1px solid #fff;
    border-radius: 23px;
    background-color: #fff;
    box-shadow: -4px 6px 13px #fff;
  }
  .btn-form {
    display: flex;
    justify-content: flex-end;
    button {
      padding: 1% 7%;
      border-radius: 8px;
      font-size: 1rem;
    }
    .cancel-btn {
      background-color: $base-red-color;
      &:hover {
        &:enabled {
          //   background-color: aquamarine;
          cursor: pointer;
        }
      }
    }
    .add-btn {
      &:hover {
        &:enabled {
          background-color: aquamarine;
          cursor: pointer;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .userInput {
    margin: 30% 0;
    form {
      width: 80%;
    }
  }
}
